<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <%- include("partials/navbar"); %>
        <div class="container">
            <div class="jumbotron">
                <h1 style="margin: 30px 0px;text-align: center;font-size: 100px;">Add new Blog</h1>
            </div>
            <form style="width: 100%;margin:0 auto" method="POST" action="/reg_user/add_blog">
                <div class="form-group">
                    <h class="btn btn-info">Title</h>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="title" required>
                </div>
                <div class="form-group">
                    <h class="btn btn-info">URL of the PIC</h>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="url" required>
                </div>
                <div class="form-group">
                    <h class="btn btn-info">Author</h>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="author" required>
                </div>
                <div class="form-group">
                    <h class="btn btn-info">Date</h>
                </div>
                <div class="form-group" style="width: 20%;">
                    <input class="form-control" type="date" name="date" required>
                </div>
                <div class="form-group">
                    <h class="btn btn-info">Body</h>
                </div>
                <div class="form-group">
                    <textarea rows="50" class="form-control" name="body" ></textarea>
                </div>
                <div class="form-group">
                    <h class="btn btn-info">Upvotes</h>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="upvotes" required>
                </div>
                <div class="form-group">
                    <a href="/reg_user" class="btn btn-warning">Cancel</a>
                </div>
                <div class="form-group">
                    <button  class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
        <%- include("partials/navbar_script"); %>
    </body>
</html>