<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <title>TEDxVITChennai</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <meta name="description" content="TEDx VITChennai Official Website">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="/css/style.css">
    <a target="_blank" href="https://chat.whatsapp.com/KLJnw47MEzII9OCfBeZ2rf" class="whatsapp-button"><i class="fa fa-whatsapp"></i></a>
</head>

<body>
    <div id="pageWrapper">
        <div id="topBar">
            <div id="logo" style="font-weight:500;font-size:28px;font-family: Catamaran, sans-serif;margin-top:20px;" onclick="window.location.href='/';">
                <img src="/media/tedxiws.PNG" alt="TEDxVITChennai" text-align="left" onclick="window.location.href='/';">
            </div>
            <div id="hamburger" onclick="openNav()">
                <svg viewBox="0 0 100 80" width="40" height="40" fill="white">
          <rect width="100" height="15" rx="8"></rect>
          <rect y="30" width="100" height="15" rx="8"></rect>
          <rect y="60" width="100" height="15" rx="8"></rect>
        </svg>
            </div>
        </div>
        <div id="landingPage">
            <div id="theme" onclick="window.location.href='#aboutPage';"><span style="color:#e62b1e">TEDx</span>VITChennai
            </div>
            <br>
            <div id="theme1" style="font-size: 2vw;" onclick="window.location.href='#aboutPage';">
                <span style="color:#e62b1e;">x</span> = independently organized TED event
            </div>
            <div id="date" onclick="window.location.href='#aboutPage';"> Explore Now </div>
        </div>
        <div id="aboutPage" class="page">
            <div class="pageContainer">
                <div class="pageHeading pageHeadingLite"><span id="aboutTEDxHeading" onclick="openAboutTEDx()">TEDx</span><span id="aboutTEDxVITChennaiHeading" style="margin-left:20px; color:lightgray; border-bottom: 0px solid #E9280B; cursor:pointer;" onclick="openAboutTEDxVITChennai()">TEDxVITChennai</span></div>
                <div class="pageContent" id="aboutTEDxContent">
                    <p style="text-align: justify;">In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. At a TEDx event, TEDTalks video and live speakers combine to spark deep discussion
                        and connection in a small group. These local, self-organized events are branded TEDx, where x = independently organized TED event. The TED Conference provides general guidance for the TEDx program, but individual TEDx events are
                        self-organized. </p>
                    <p style="text-align: justify;">TEDx was created in the spirit of TED's mission, "ideas worth spreading." It supports independent organizers who want to create a TED-like event in their own community. These local, self-organized events are branded TEDx, where x =
                        independently organized TED event.
                    </p>
                    <p style="text-align: justify;">At TEDx events, a screening of TED Talks videos — or a combination of live presenters and TED Talks videos — sparks deep conversation and connections at the local level. TEDx events are planned and coordinated independently, under
                        a free license granted by TED.
                    </p>
                    <p style="text-align: justify;">TEDx events are non-profit, but may use an admission fee or commercial sponsorship to cover costs. Similarly, speakers are not paid. They must also relinquish the copyrights to their materials, which TED may edit and distribute under
                        a Creative Commons license.
                    </p>
                </div>
            </div>
        </div>
        <div id="speakersPage" class="page" style="background: linear-gradient(to bottom, #fffbd5, #b20a2c); url('img/speech.jpeg') no-repeat top; background-size: cover; background-attachment: fixed;">
            <div class="pageContainer">
                <div class="pageHeading" style="font-size: 5vw;">Recent Speakers</div>
                <div class="cardsGrid">
                    <div class="card">
                        <div class="overlay">
                            <div class="speakerName">Kashyap Reddy</div>
                            <div class="speakerDescription">Founder of Hitwicket</div>
                            <div class="speakerYoutubeIcon">
                                <a href="https://www.youtube.com/watch?v=SNA79KPcAwk" target="_blank"><img src="/media/svg/speakerYoutubeIcon.svg" /></a>
                            </div>
                        </div>
                        <img src="/media/speakers/kashyapreddy.jpeg" alt="">
                    </div>
                    <div class="card">
                        <div class="overlay">
                            <div class="speakerName">Siddhaarth Sudhakaran</div>
                            <div class="speakerDescription">co-founder of LonePack<br>Mental Health NGO</div>
                            <div class="speakerYoutubeIcon">
                                <a href="https://www.youtube.com/watch?v=mRLbPPRryS0" target="_blank"><img src="/media/svg/speakerYoutubeIcon.svg" /></a>
                            </div>
                        </div>
                        <img src="/media/speakers/siddhaarth.jpeg" alt="">
                    </div>
                    <div class="card">
                        <div class="overlay">
                            <div class="speakerName">Krishna K</div>
                            <div class="speakerDescription">Singer and Songwriter</div>
                            <div class="speakerYoutubeIcon">
                                <a href="https://www.youtube.com/watch?v=6kymK0FJ4Rs" target="_blank"><img src="/media/svg/speakerYoutubeIcon.svg" /></a>
                            </div>
                        </div>
                        <img src="/media/speakers/krishna.jpeg" alt="">
                    </div>
                    <div class="card">
                        <div class="overlay">
                            <div class="speakerName">Mae Mariyam Thomas</div>
                            <div class="speakerDescription">Presenter, podcast producer,<br>journalist, entrepreneur and voice over artist</div>
                            <div class="speakerYoutubeIcon">
                                <a href="https://www.youtube.com/watch?v=0BRYCte_v4k" target="_blank"><img src="/media/svg/speakerYoutubeIcon.svg" /></a>
                            </div>
                        </div>
                        <img src="/media/speakers/mae.jpeg" alt="">
                    </div>
                    <div class="card">
                        <div class="overlay">
                            <div class="speakerName">Badhri Seshadri</div>
                            <div class="speakerDescription">Musician,<br>Sound Engineer</div>
                            <div class="speakerYoutubeIcon">
                                <a href="https://www.youtube.com/watch?v=_rGNUvbZ5tA" target="_blank"><img src="/media/svg/speakerYoutubeIcon.svg" /></a>
                            </div>
                        </div>
                        <img src="/media/speakers/badri.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!----------Sponsors page-------->
        <div id="sponsorsPage" class="page">
            <div class="pageContainer" style="margin-bottom: 0;">
                <div class="pageHeading" style="font-size: 5vw;">Past Sponsors</div>
                <br>
                <div class="pageContent" id="sponsorsContainer">

                    <div class="row" style="display:flex;flex-wrap:wrap">
                        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                            <img class="img-responsive" src="/media/sponsors2/GFG_new.png" alt="">
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                            <img class="img-responsive" src="/media/sponsors2/The-souled-store.png" alt="">
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                            <img class="img-responsive" src="/media/sponsors2/verth_white.png" alt="">
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                            <a class='' href="#">
                                <img style="padding-top: 30%;" class="img-responsive" src="/media/sponsors2/Dineout.png" alt="">
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                            <img class="img-responsive" src="/media/sponsors/Logo.png" alt="">
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                            <img style="padding-top: 30%;" class="img-responsive" src="/media/sponsors2/townscript.png" alt="">
                        </div>
                    </div>

                    <div class="sponsorsCard">
                        <div class="sponsorsPhoto">
                            <img src="/media/sponsors/Kloud9.png" alt="Kloud9">
                        </div>
                    </div>
                    <div class="sponsorsCard">
                        <div class="sponsorsPhoto">
                            <img src="/media/sponsors2/grapevine_white.png" alt="Grapevine">
                        </div>
                    </div>
                    <div class="sponsorsCard">
                        <div class="sponsorsPhoto">
                            <img src="/media/sponsors2/MTV_white.png" alt="MTV">
                        </div>
                    </div>
                    <div class="sponsorsCard">
                        <img src="/media/sponsors/transparent.png" alt="Unlu" height="100">
                    </div>
                </div>
            </div>
        </div>

        <!--------------Footer page------------->
        <div id="footer" class="page" style="background-color: black;">
            <div class="pageContainer">
                <div id="contactPage" class="footerContainer1">
                    <div>
                        <div class="pageHeading" style="color:white">
                            <h3>Follow <span style="color: #E9280B; font-weight: 900; font-size:26px;">TEDx</span>VITChennai on</h3>
                        </div>
                        <div class="pageContent">
                            <div class="footerContact">
                                <a href="https://www.facebook.com/tedxvitchennai/" target="_blank" class="fa fa-facebook"></a>
                                <a href="https://twitter.com/tedx_vitchennai?lang=en" target="_blank" class="fa fa-twitter"></a>
                                <a href="https://www.instagram.com/tedxvitchennai/?hl=en" target="_blank" class="fa fa-instagram"></a>
                                <a href="https://www.linkedin.com/company/tedxvitchennai/" target="_blank" class="fa fa-linkedin"></a>
                            </div><br><br>
                            <p style="font-family: Catamaran, sans-serif; font-size:20px; font-weight: 1000;">
                                Want to be involved with TEDx but don't know HOW?<br> Join our <span style="color:#25D366;">WhatsApp</span> group where we'll have discussions on all things about <span style="color:#E9280B;">TED</span>!!!<br>
                                <!-- no wait Click on the whatsapp icon that's waiting for you !!&#128512; -->
                            </p>
                            <div class="footerContact">
                                <a href="https://chat.whatsapp.com/KLJnw47MEzII9OCfBeZ2rf" target="_blank" class="fa fa-whatsapp"></a>
                            </div>
                        </div>
                    </div>
                    <div class="mapouter">
                        <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.0407049359837!2d80.15123961480008!3d12.840646221212523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5259af8e491f67%3A0x944b42131b757d2d!2sVellore%20Institute%20of%20Technology%20-%20VIT%20Chennai!5e0!3m2!1sen!2sin!4v1632676348110!5m2!1sen!2sin"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                    </div>

                </div>
                <hr>
                <div class="footerContainer2">
                    <div class="footerLogo" onclick="window.location.href='./index.html';"><img src="/media/logo.PNG" alt="TEDxVITChennai" align="left"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Wrapper Ends -->
    <!--------------nav bar menu---------->
    <nav>
        <div id="closeButton" onclick="closeNav()">
            <?xml version="1.0" encoding="UTF-8"?>
            <svg enable-background="new 0 0 512.001 512.001" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
        <path
          d="m284.29 256 221.86-221.86c7.811-7.811 7.811-20.475 0-28.285s-20.475-7.811-28.285 0l-221.86 221.86-221.86-221.86c-7.811-7.811-20.475-7.811-28.285 0s-7.811 20.475 0 28.285l221.86 221.86-221.86 221.86c-7.811 7.811-7.811 20.475 0 28.285 3.905 3.905 9.024 5.857 14.143 5.857s10.237-1.952 14.143-5.857l221.86-221.86 221.86 221.86c3.905 3.905 9.024 5.857 14.143 5.857s10.237-1.952 14.143-5.857c7.811-7.811 7.811-20.475 0-28.285l-221.86-221.86z" />
      </svg>
        </div>
        <div id="navInsideWrapper">
            <div class="navElement" onclick="closeNav(); window.location.href='#pageWrapper';">Home</div>
            <div class="navElement" onclick="closeNav(); window.location.href='#';">Ted Circles</div>
            <div class="navElement" onclick="closeNav(); window.location.href='#';">Blog</div>
            <div class="navElement" onclick="closeNav(); window.location.href='#';">Editions</div>
            <div class="navElement" onclick="closeNav(); window.location.href='#';">Speakers</div>
            <div class="navElement" onclick="closeNav(); window.location.href='#sponsorsPage';">Sponsors</div>
            <div class="navElement" onclick="closeNav(); window.location.href='#aboutPage';">About</div>
            <div class="navElement" onclick="closeNav(); window.location.href='#contactPage';">Connect with us</div>
        </div>
    </nav>
    <div id="particles-js"></div>
    <script src="/js/particles.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/cursor.js"></script>
</body>