<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta charset="UTF-8">
  <title>TEDxVITChennai</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <meta name="description" content="TEDx VITChennai Official Website">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
  	<link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500;1,600&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="/css/style.css">
</head>

<body>
  <div id="pageWrapper">
    <div id="topBar1">
      <div id="logo">
        <img src="/media/logo.PNG" alt="TEDxVITChennai" align="left" onclick="window.location.href='/';">
      </div>
      <div id="hamburger" onclick="openNav()">
        <svg viewBox="0 0 100 80" width="40" height="40" fill="white">
          <rect width="100" height="15" rx="8"></rect>
          <rect y="30" width="100" height="15" rx="8"></rect>
          <rect y="60" width="100" height="15" rx="8"></rect>
        </svg>
      </div>
    </div>
<div id="archivePage" class="page">
  <div class="pageContainer">
    <h1 style="color: red; font-weight:700;"><span>&#8594; </span>Theme- Among Us (April 2021)</h1>

    <div class="cardsGrid">
      <div class="card">
        <div class="overlay">
          <div class="speakerName">Kashyap Reddy</div>
          <div class="speakerDescription">Founder of Hitwicket</div>
        </div>
        <img src="/media/speakers/kashyapreddy.jpeg" alt="">
      </div>
      <div class="card">
        <div class="overlay">
          <div class="speakerName">Siddhaarth Sudhakaran</div>
          <div class="speakerDescription">co-founder of LonePack<br>Mental Health NGO</div>
        </div>
        <img src="/media/speakers/siddhaarth.jpeg" alt="">
      </div>
      <div class="card">
        <div class="overlay">
          <div class="speakerName">Krishna K</div>
          <div class="speakerDescription">Singer and Songwriter</div>
        </div>
        <img src="/media/speakers/krishna.jpeg" alt="">
      </div>
      <div class="card">
        <div class="overlay">
          <div class="speakerName">Mae Mariyam Thomas</div>
          <div class="speakerDescription">Presenter, podcast producer,<br>journalist, entrepreneur and voice over artist</div>
        </div>
        <img src="/media/speakers/mae.jpeg" alt="">
      </div>
      <div class="card">
        <div class="overlay">
          <div class="speakerName">Badhri Seshadri</div>
          <div class="speakerDescription">Musician,<br>Sound Engineer</div>
        </div>
        <img src="/media/speakers/badri.jpg" alt="">
      </div>
    </div>

    <br><br>
    <h1 style="color: red; font-weight:700;"><span>&#8594; </span>Theme- Turning the pages of time (September 2020)</h1>
    <div class="cardsGrid">
      <div class="card">
        <div class="overlay">
          <div class="speakerName">Rukmini Varma</div>
          <div class="speakerDescription">Classical artist</div>
        </div>
        <img src="/media/speakers/rukhmini.jpg" alt="">
      </div>
      <div class="card">
        <div class="overlay">
          <div class="speakerName">Russell Baretto</div>
          <div class="speakerDescription">Mountaineer by heart<br>Engineer by profession</div>
        </div>
        <img src="/media/speakers/russel.jpg" alt="">
      </div>
      <div class="card">
        <div class="overlay">
          <div class="speakerName">Sofia Ashraf</div>
          <div class="speakerDescription">Social Activist<br>Digital Content Creator<br>Rapper and Writer</div>
        </div>
        <img src="/media/speakers/sofia.jpg" alt="">
      </div>
      <div class="card">
        <div class="overlay">
          <div class="speakerName">Rahul Bale</div>
          <div class="speakerDescription">Researcher at Center for Computational Science<br>RIKEN, Japan</div>
        </div>
        <img src="/media/speakers/rahul.jpg" alt="">
      </div>
      <div class="card">
        <div class="overlay">
          <div class="speakerName">Ryan Kisku</div>
          <div class="speakerDescription">Producer <br>Sound Engineer</div>
        </div>
        <img src="/media/speakers/ryan.jpg" alt="">
      </div>
    </div>

  </div>
</div>



<!-- --------------Footer page------------->
        <div id="footer" class="page" style="background-color: black;">
          <div class="pageContainer">
            <div class="footerContainer1">
              <div>
                <div class="pageHeading" style="color:white">Quick Links</div>
                <div class="pageContent">
                  <ul class="quickLinksList">
                    <li><a href="/">&bull; Home</a></li>
                    <li><a href="/editions">&bull; Editions</a></li>
                    <li><a href="#">&bull; Speakers</a></li>
                    <li><a href="/#sponsorsPage">&bull; Sponsors</a></li>
                    <li><a href="/#aboutPage">&bull; About</a></li>
                    <li><a href="/#contactPage">&bull; Connect with us</a></li>
                  </ul>
                </div>
              </div>
                <div>
                  <div class="pageHeading" style="color:white"><h3>Follow <span style="color: #E9280B; font-weight: 900;">TEDx</span>VITChennai on</h3></div>
                  <div class="pageContent">
                    <div class="footerContact">
              <a href="https://www.facebook.com/tedxvitchennai/" target="_blank" class="fa fa-facebook"></a>
              <a href="https://twitter.com/tedx_vitchennai?lang=en" target="_blank" class="fa fa-twitter"></a><br>
              <a href="https://www.instagram.com/tedxvitchennai/?hl=en" target="_blank" class="fa fa-instagram"></a>
              <a href="https://www.linkedin.com/company/tedxvitchennai/" target="_blank" class="fa fa-linkedin"></a>
                  </div>
                  <p style="font-family: Catamaran, sans-serif; font-size:20px; font-weight: 1000;">
                    Want to be involved with TEDx but don't know HOW?<br>
                    Join our <span style="color:#25D366;">WhatsApp</span> group where we'll have discussions on all things about <span style="color:#E9280B;">TED</span>!!!<br>
                    <!-- no wait Click on the whatsapp icon that's waiting for you !!&#128512; -->
                  </p>
                  <div class="footerContact">
                    <a href="https://chat.whatsapp.com/KLJnw47MEzII9OCfBeZ2rf" target="_blank" class="fa fa-whatsapp"></a>
                  </div>
                </div>
              </div>
            </div>
              <hr>
              <div class="footerContainer2">
                <div class="footerLogo" onclick="window.location.href='/';"><img src="/media/logo.PNG" alt="TEDxVITChennai" align="left"></div>
              </div>
            </div>
          </div> 
        </div>
    <!-- Page Wrapper Ends -->


    <nav>
        <div id="closeButton" onclick="closeNav()">
            <?xml version="1.0" encoding="UTF-8"?>
            <svg enable-background="new 0 0 512.001 512.001" version="1.1" viewBox="0 0 512 512" xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="m284.29 256 221.86-221.86c7.811-7.811 7.811-20.475 0-28.285s-20.475-7.811-28.285 0l-221.86 221.86-221.86-221.86c-7.811-7.811-20.475-7.811-28.285 0s-7.811 20.475 0 28.285l221.86 221.86-221.86 221.86c-7.811 7.811-7.811 20.475 0 28.285 3.905 3.905 9.024 5.857 14.143 5.857s10.237-1.952 14.143-5.857l221.86-221.86 221.86 221.86c3.905 3.905 9.024 5.857 14.143 5.857s10.237-1.952 14.143-5.857c7.811-7.811 7.811-20.475 0-28.285l-221.86-221.86z" />
            </svg>
        </div>
        <div id="navInsideWrapper">
            <div class="navElement" onclick="closeNav(); window.location.href='/#pageWrapper';">Home</div>
            <div class="navElement" onclick="closeNav(); window.location.href='/event2022';">TedXVITChennai 2022</div>
            <div class="navElement" onclick="closeNav(); window.location.href='/tedcircles';">Ted Circles</div>
            <!-- <div class="navElement" onclick="closeNav(); window.location.href='/recruitments';">Recruitments</div> -->
            <div class="navElement" onclick="closeNav(); window.location.href='/blogs';">Blogs</div>
            <div class="navElement" onclick="closeNav(); window.location.href='/editions';">Editions</div>
            <div class="navElement" onclick="closeNav(); window.location.href='#';">Speakers
            </div>
            <div class="navElement" onclick="closeNav(); window.location.href='/#sponsorsPage';">Sponsors
            </div>
            <div class="navElement" onclick="closeNav(); window.location.href='/#aboutPage';">About</div>
            <div class="navElement" onclick="closeNav(); window.location.href='/#contactPage';">Connect with us</div>
        </div>
    </nav>
  <script src="/js/app.js"></script>
  <script src="/js/index.js"></script>

</body>

</html>
