.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
  }

  .name {
    color: grey;
    font-size: 18px;
  }
  
  .card .edit {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(84, 196, 61);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .card .delete {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(218, 32, 32);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card .read {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(32, 75, 218);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .card button:hover {
    opacity: 0.7;
  }